# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.vscode/
.output/
output/.DS_Store
output/minn
*.plist
output/main.dSYM/Contents/Resources/DWARF/main
output/minn.dSYM/Contents/Resources/DWARF/minn
.DS_Store
Parser/output/parser
Parser/output/parser.dSYM/Contents/Resources/DWARF/parser
LexicalAnalyzer/output/lexicalAnalyzer
NFA.json
Syntax-Directed-Translator.cbp
Syntax-Directed-Translator.depend
Syntax-Directed-Translator.layout
build
.idea
