# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.plist

Syntax-Directed-Translator.cbp
Syntax-Directed-Translator.depend
Syntax-Directed-Translator.layout

# Executables
*.exe
*.out
*.app

# Directories
.vscode/
.output/
output/
Outputs/
build/
.DS_Store/
.idea/
cmake-build-debug/
bin/
debug/
Outputs/dfa_states_output.txt
Outputs/dfa_states_output2.txt
